/*загальні стилі*/
body {
  margin: 0px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.logo{
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

section{
  height: 1600px;
}

.country-info {
  display: flex;
  justify-content: space-between;
}

/*стилі для карти світу(першого svg)*/
.map{
  margin: 0 100px;
  width: 960px;
  height: 500px;
  /* border: 2px solid #000; */
}

.country {
  fill: white;
  stroke: black;
  stroke-opacity: 0.25;
}

.country:hover {
  fill: black;
}

.country-title {
  display: inline-flex;
  margin: 0 auto;
}

/*стилі для графіку росту ввп (другого svg)*/

.chart {
  /* width: 800px;
  height: 400px; */
  /* border: 2px solid #000; */
}


.line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.overlay {
fill: none;
pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #000;
  stroke: #fff;
}

.focus circle {
fill: none;
stroke: steelblue;
}